* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lobster", sans-serif;
    cursor: default;
}

html, body {
    height: 100%;
}

body {
    background: -webkit-linear-gradient(90deg, #181b1a,#363a3a,#7a5757,#363a3a,#181b1a); 
    background: linear-gradient(90deg, #181b1a,#363a3a,#7a5757,#363a3a,#181b1a);
    color: gainsboro;
    display: flex;
    flex-direction: column;
}
main {
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 1em;
    flex: 1;
}

header {
    margin: 0;
    background-color: black;
    padding-bottom: 1em;
    padding-top: 1em;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0.5em;
}

.foot {
    font-size: 0.8em;
    color: grey;
}

.me {
    margin-left: 1em;
    font-size: 1em;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 4em;
    font-weight: 300;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.663);
    color: black;
}

h4 {
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}

h2 {
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.663);
    color: black;
    font-weight: 500;
    font-size: 3em;
    margin-left: 15vw;
    margin-bottom: 0.7em;
}

main p {
    font-size: larger;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    margin-left: 1em;
    max-width: 45vw;
    margin-bottom: 5vw;
    letter-spacing: 0.2vw;
}

h3 {
    font-size: 2em;
    margin-bottom: 7vw;
    display: flex;
    justify-content: center;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgba(144, 38, 38, 0.592);
    color: black;
    font-weight: 500;
}

a {
    margin-left: 3vw;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    cursor: crosshair;
}