<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/accueil.css' | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <p class="me">{{ site.title }}</p>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p class="foot"> {{ site.title }} — Pour l'amour de l'art</p>
    </footer>

</body>

</html>