<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <script src="https://kit.fontawesome.com/23272f65f2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ '/assets/css/accueil.css' | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <p class="site-title">{{ site.title }}</p>
        <p class="page-title">{{ page.title }}</p>
    </header>

    <main>
        {{ content }}
    
      <div class="projets">
        <a href="\Les jeux de cartes\index.html" class="projet-1" target="_blank">La passion des cartes</a>
      </div>

        <a href="/index" class="retour">Retour</a>
    </main>

    <footer>
        <p class="foot"> {{ site.title }} — Pour l'amour de l'art</p>
    </footer>

</body>
</html>